name: Release Please

on:
  push:
    branches:
      - main
      - 'release/**'

jobs:
  release:
    uses: arieluchka-org-test/action_templates/.github/workflows/oases-release-please.yaml@main
    secrets: inherit
